body {
	background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
	background-image:      -o-linear-gradient(top, #fff 0%, #e0e0e0 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
	background-image:         linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	padding: 30px 20px;
}

.container{
	width: 100%;
}

.demo-row {
	margin-bottom: 20px;
	width: 90%;
}

.row{
	margin-bottom: 5px;
}

.btn {
	color: #34495e;
}

.btn-lg, .btn-group-lg>.btn {
	height:90px;
	text-align: center;
	vertical-align: middle;
	padding: 2px;	
}

.btn-md, .btn-group-md>.btn {
	height:42px;
	text-align: center;
	vertical-align: middle;
}

.col-sm-3, .col-sm-6{
	padding-right: 10px;
	padding-left: 10px;
}