body {
    background-color: transparent;
    height: 100%;
    padding: 0px;
    background-image: url('../img/plantillaIPAD.jpg');
}

.container:before {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
	width: 100%;
    height: 100%;
    background-image: url('../img/plantillaIPAD.jpg');
    -webkit-filter: blur(0px);
	filter: blur(0px);
}

.img-logo{
    src: url('/public/img/plantillaLogo.png');
    vertical-align: middle;
    display: inline-block;
}

.container{
    left: 0;
    right: 0;
	width: 100%;
    z-index: 0;
    padding: 30px 20px;
}

.demo-row {
	margin-bottom: 20px;
	width: 90%;
}

.row{
	margin-bottom: 10px;
}

.btn {
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 20px;
    border-radius: 0px;
    border-color: transparent;
    border-width: 0.1em;
    -webkit-transition: background linear 350ms;
    transition: background linear 350ms;
}

.btn-lg, .btn-group-lg>.btn {
	height: 150px;
	text-align: center;
	vertical-align: middle;
	padding: 2px;	
}

.btn-default {
    color: rgb(38, 92, 109);
    background-color: rgba(255, 255, 255, 0.70);
}


.btn-primary {
    color: #ffffff;
    background-color: rgba(54, 158, 184, 0.99);
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    color: #fff;
    background-color: rgb(62, 154, 144);
    border-color: rgb(62, 154, 144);
    opacity: 1;
}

.btn-default:active {
    background-color: rgba(62, 154, 144, 0.42);
    -webkit-transition: background linear 350ms;
    transition: background linear 350ms;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: rgba(44, 95, 148);
    border-color: rgba(44, 95, 148);
    opacity: 1;
}

.btn-primary:active {
    background-color: rgba(44, 95, 148, 0.42);
    -webkit-transition: background linear 350ms;
    transition: background linear 350ms;
}


.volumeButton {
	height:60px;
}

.btn-group-vertical{
    width: 60%;
}

.groupMiddle{
     text-align: center;  
}

.btnMock{
    display: inline-block; 
}

.mock{
    color: #fff;
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
}

/* new styles */
.second {
    margin-top: 27px;
}

.timeline {
    position: relative;
	height: 60px;
	text-align: center;
	vertical-align: middle;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 20px;
    border-radius: 0px;
    border-color: transparent;
    border-width: 0.1em;

    color: rgb(38, 92, 109);
    background-color: rgba(255, 255, 255, 0.70);
    opacity: 1;
    -webkit-transition: background linear 350ms;
    transition: background linear 350ms;
}

.big-timer {
    position: relative;
}

.big-timer .prog {
    position: absolute;
    left: 15px;
    top: 0px;
    height: 100%;
    width: 300px;
    background-color: rgb(62, 154, 144);
    border-color: rgb(62, 154, 144);
    z-index: 1;
}

.big-timer .prog-title {
    position: relative;
    z-index: 100;
}

.big-timer h1{
    font-size: 106px;
    background: rgb(38, 92, 109);
    opacity: 0.9;
    color: white;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: 2;
    padding-bottom: 5px;
}

.timeline .title {
    z-index: 1;
}

.reload-data {
    height: 60px;
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 20px;
    opacity: 0.7;
    color: rgb(38, 92, 109);
    -webkit-transition: background linear 350ms;
    transition: background linear 350ms;
}

.reload-data:active, .reload-data:focus {
    opacity: 1;
}

@media (max-width: 736px) {
    .btn {
        border: 1px solid black;
        margin-bottom: 10px;
    }

    .big-timer h1 {
        font-size: 50px;
    }

    .btn-lg {
        height: 75px;
    }
}