body {
	<!--background-color: #e0e0e0;-->
    background-color: transparent;
    height: 100%;
    padding: 0px;
}

.container:before{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
	width: 100%;
    height: 100%;
    background-image: url('../img/bg-vid.png');
    -webkit-filter: blur(0px);
	filter: blur(0px);
}

.container{
    position: fixed;
    left: 0;
    right: 0;
	width: 100%;
    z-index: 0;
    padding: 30px 20px;
}

.demo-row {
	margin-bottom: 20px;
	width: 90%;
}

.row{
	margin-bottom: 5px;
}

.btn {
    font-family: "Helvetica Neue";
    font-weight: lighter;
    font-size: 20px;
    color: #ffffff;
    border-radius: 0px;
    border-color: #ffffff;
    border-width: 0.1em;
    background-color: transparent;
    -webkit-transition: background linear 350ms;
}

.btn-lg, .btn-group-lg>.btn {
	height:104px;
	text-align: center;
	vertical-align: middle;
	padding: 2px;	
}

.col-sm-2 {
	padding-right: 2px;
	padding-left: 2px;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    color: #fff;
    background-color: rgb(62, 154, 144);
    border-color: rgb(62, 154, 144);
    opacity: 1;
}

.btn-default:active {
    background-color: rgba(62, 154, 144, 0.42);
    -webkit-transition: background linear 350ms;
}
